/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	h1 {
		@apply text-5xl font-bold text-base-100 font-serif;
	}
	.hero-caption {
		@apply text-xl py-8;
	}
	.hero-button {
		@apply btn btn-primary uppercase text-lg;
	}
}
